@tailwind base;
@tailwind components;
@tailwind utilities; 

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body {
    font-family: "Times New Roman";
}

.nav__dropdown:hover .nav__dropdown-content{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.custom-img {
    background-image: url("../images/wallpaperA.jpg");
}

.hamburgerContainer {
    width: 100px;
    height: 100px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden; 
    display: none;
}

.bar {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.bar .middle {
    height: 3px;
    width: 50px;
    background: #fff;
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
}

.bar .top {
    bottom: 14px;
    height: 3px;
    width: 50px;
    background: #fff;
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
}

.bar .bottom {
    top: 20px;
    height: 3px;
    width: 50px;
    background: #fff;
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
}

input[type="checkbox"]: checked ~ .bar .top {
    transform: rotate(-45deg);
    width: 70px;
    transform-origin: right;
    top: -25px;
}

input[type="checkbox"]: checked ~ .bar .bottom {
    transform: rotate(45deg);
    width: 70px;
    transform-origin: right;
    top: 25px;
}

input[type="checkbox"]: checked ~ .bar .middle {
    transform: translate(20px);
    opacity: 0;
}