@tailwind base;
@tailwind components;
@tailwind utilities; 

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body {
    font-family: "Times New Roman";
}

tr:nth-child(odd) {
    background-color: #b5b8bd;
    background-color: #c4c5c7;
}

.nav__dropdown:hover .nav__dropdown-content{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.custom-img {
    background-image: url("../images/wallpaperA.jpg");
}